.header {
  height: rem(70px);
  gap: rem(30px);
  background: var(--theme-bg);
  color: var(--theme-text);
  a {
    color: var(--theme-text);
    text-decoration: none;
  }

  &_theme {
    width: rem(10px);
    cursor: pointer;
  }

  &_white {
    path {
      fill: $white;
    }
  }
}
