.header {
  height: rem(70px);
  gap: rem(30px);
  background: var(--theme-bg);
  color: var(--theme-text);
  a {
    color: var(--theme-text);
    text-decoration: none;
  }
  svg {
    width: rem(15px);
    height: rem(15px);
    path {
      fill: var(--theme-text);
    }
  }

  &_theme {
    width: rem(10px);
    cursor: pointer;
  }
}
